.buttonbase {
  padding: 10px;
  border: 1px solid #000;
  columns: #000;
  border-radius: 5px;
}
.container {
  margin: auto;
}
.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}

.button{
  border-radius: 0;
  font-size: 14px;
  font-weight: 900;
  overflow: hidden;
  line-height: 1;
  padding: 15px 24px;
  position: relative;
  text-transform: uppercase;
}
