html {
  font-family: "monsterat", "Arial Narrow", Arial, sans-serif;
}
@font-face {
  font-family: "monsterat";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "monsterat-extrabold";
  src: url("/fonts/Montserrat-ExtraBold.ttf");
}
.extrabold {
  font-family: "monsterat-extrabold", "Arial Narrow", Arial, sans-serif;
}
.home {
  overflow: hidden;
  display: grid;
  grid-template-columns: 300px 1fr;
}
.home-darkmode {
  background: #000;
}
.home-nomal {
  background: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.sidebar {
  position: fixed;
  top: 54px;
  left: 0;
  z-index: 99;
  width: 300px;
  height: calc(100vh - 54px);
  background: #000;
}

.copyringht {
  color: #999;
  font-size: 14px;
}
.menu-item {
  margin: 10px 0;
  line-height: 1;
}
//Loading
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

.btn-buy {
  background: #82b440;
  box-shadow: 0 2px 0 #6f9a37;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 14px;
}
.menu-item:hover > span {
  top: 60%;
  transition: ease-in-out 0.5s;
}
.meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: var(--main);
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}
.active >span{
  top: 60%;
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
    background: var(--main);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
