html {
  font-family: "monsterat", "Arial Narrow", Arial, sans-serif;
}
@font-face {
  font-family: "monsterat";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "monsterat-extrabold";
  src: url("/fonts/Montserrat-ExtraBold.ttf");
}
.extrabold {
  font-family: "monsterat-extrabold", "Arial Narrow", Arial, sans-serif;
}
.home {
  overflow: hidden;
  transform: translateX(0);
  transition: ease-in-out 0.5s;
}
.home-darkmode {
  background: #000;
}
.home-nomal {
  background: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.sidebar {
  position: fixed;
  top: 54px;
  left: 0px;
  z-index: 99;
  width: 300px;
  height: calc(100vh - 54px);
  background: #000;
  transform: translateX(-300px);
  transition: ease-in-out 0.5s;
}

.copyringht {
  color: #999;
  font-size: 14px;
}
.menu-item {
  margin: 10px 0;
  line-height: 1;
  padding: 3px 0;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 99;
  right: 0;
  top: 54px;
  width: calc(100vw - 300px);
  height: calc(100vh - 54px);
  background: rgba($color: #000000, $alpha: 0.4);
}
.overlay.open{
  display: block;
}
.btn-buy {
  background: #82b440;
  box-shadow: 0 2px 0 #6f9a37;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 14px;
}
.menu-item:hover > span {
  top: 60%;
  transition: ease-in-out 0.5s;
}
.meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: var(--main);
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}
.active > span {
  top: 60%;
}

.sidebar.open {
  transform: translateX(0);
}

.home.open {
  transform: translateX(300px);
}

.line{
  width: 1px;
  height: 100%;
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
