@media only screen and(min-width:720px) {
  .home {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  .container {
    width: 720px;
  }
  .sidebar{
   transform: translateX(0);
  }
  .overlay{
    display: none;
  }
}
@media only screen and(min-width:1280px) {
  .container {
    width: 1080px;
  }
}
