@media only screen and(min-width:720px) {
    .container {
      width: 720px;
    }
  }
  @media only screen and(min-width:1280px) {
    .container {
      width: 1280px;
    }
  }
  @media only screen and(min-width:1440px) {
    .container {
      width: 1440px;
    }
  }